 
server {
  listen 8080;
  root /usr/www;
  location / {
    # We try to get static files from nginx first
    # because node is not great at IO operations
    try_files $uri $uri/ @web;
  }
  location @web {
    proxy_pass http://:3333;
  }
  location /mysql {
    proxy_pass http://mysql:8183;
  }
  location /redis {
    proxy_pass http://redis:8081;
  }
  
}