server {
  listen 8080;
  root /srv/www/static;
  location / {
    # We try to get static files from nginx first
    # because node is not great at IO operations
    try_files $uri $uri/ @web;
  }
  location /usr/app {
    proxy_pass http://elpatron:3333;
  }
  location /usr/mysql {
    proxy_pass http://mysql:3333;
  }
  
 
}