<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Elpatron</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <h1>ELPATRON EM MANUTRNÇÃO</h1>
    <div class="subtitle">
      <p>Desculpem o Transtorno, Entramos em Manunteção de Emegência</p>
      <p>
       Obrigados a todos pela compreenção, breve voltaremos com tudo
      </p>
    </div>
  </section>
</body>
</html>